<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data, status: ${listAcc}">
                    <td th:text="${status.index + 1}"></td>
                    <td th:text="${data.getId()}"></td>
                    <td th:text="${data.getRole()}"></td>
                    <td th:text="${data.getPassword()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>